*{
    color: white;
}
body{
    background-color: black;
}

/* Styling for about section */


.about-section{
    display: flex;
    justify-content: space-between;
}
.about{

    padding-left: 20px;
    margin-top: 350px;
    padding-bottom: 50px;
  }
.about h1{
  
      display: inline-block;
      font-family: 'Crimson Text', serif;
      font-size: 50px;
      letter-spacing: 2px;
      color: white;
  
  
  }
.about .secondline{
  
  
      display: block;
      font-family: 'Crimson Text', serif;
      font-size: 50px;
      padding-top: 10px;
      color: white;
      padding-left: 150px;
  
  
  }

/* STYING OF T IN "The annual" */
.about-T{
    font-size: 70px;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    color: aqua;
}
.about-para{

    margin-top: -20px;
    margin-bottom: 30px;
    padding-left: 20px;
    max-width: 40% ;
    line-height: 25px;
    color: wheat;
    font-size: large;
    font-style: italic;
}
@media (max-width:802px){
    .about-para{
        min-width: 100%;
    }
}


